.sidebar-bg-color {
  background-image: linear-gradient(to top, #556266 0%, #1f3f49 80%);
}

.active-sidebar-bg-color {
  background-color: #18303b;
}

.website-title {
  margin-right: 20px;
  margin-top: 10px;
  font-size: larger;
  color: #e4e5e7;
  font-weight: bold;
}
